version: '3.8'

services:
  techrocket-lps:
    image: ${{ secrets.DOCKERHUB_USERNAME }}/techrocket-lps:latest
    container_name: techrocket_lps
    restart: unless-stopped
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.techrocket-lps.rule=Host(`bratzstyle.com.br`) || Host(`daveniori.com.br`) || Host(`techroket.site`) || Host(`bratz.techrocket.site`)"
      - "traefik.http.routers.techrocket-lps.entrypoints=websecure"
      - "traefik.http.routers.techrocket-lps.tls=true"
      - "traefik.http.routers.techrocket-lps.tls.certresolver=lets-encrypt"
      # --- Serviço (aponta para a porta interna do contêiner) ---
      - "traefik.http.services.techrocket-lps.loadbalancer.server.port=80"

networks:
  web:
    external: true
