.hero-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../img/material-m-braga/alunos2.jpeg') center/cover no-repeat;
}

.fed-img {
    filter: grayscale(100%);
    opacity: 0.7;
    transition: 0.4s;
}

@media (hover: hover) {
    .fed-img:hover {
        filter: grayscale(0%);
        opacity: 1;
        transform: scale(1.1);
    }
}

@media (max-width: 768px) {
    .fed-img {
        filter: grayscale(0%);
        opacity: 1;
    }
}